<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="APP_NAME">scm001</Property>
        <Property name="BASE_FILE_NAME">log-scm001</Property>
        <Property name="BASE_PACKAGE_PATH">com.shera.api</Property>
        <Property name="PC_BASE_PATH">C:\\logs\\SHERA-API-SCM001</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] ${hostName} [%t] %-40.40c{1.} - %msg%n</Property>
        <Property name="LOG_PATTERN2">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
        <Property name="LOG_PATTERN3">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>
    <Appenders>
        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="${PC_BASE_PATH}/${BASE_FILE_NAME}.log" 
                     filePattern="${PC_BASE_PATH}/${BASE_FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="${PC_BASE_PATH}.${APP_NAME}" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>